/* body {
  width: 80%;
  margin: auto;
} */

html {
  overflow-y: overlay; /* Fix scrollbar messing with width (incompatible with older browsers)*/
}

main {
  width: 60%;
  margin: auto;
  font-family: "Noto Sans JP", sans-serif;
}

/* Navbar styles */

nav {
  background-color: rgb(4, 22, 119);
  width: 100%;
  height: 5em;
  position: sticky;
  top: 0;
  z-index: 50;
}

@keyframes atTop {
  from {
    background-color: rgb(4, 22, 119);
    height: 5em;
  }
  to {
    background-color: rgb(13, 68, 161);
    height: 4.5em;
  }
}

@keyframes notAtTop {
  from {
    background-color: rgb(13, 68, 161);
    height: 4.5em;
  }
  to {
    background-color: rgb(4, 22, 119);
    height: 5em;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 0 1.5em;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  font-family: "Noto Sans JP", sans-serif;
  height: 100%;
}

/* About page styles */

.decorative-title {
  font-family: "Fugaz One", fantasy;
  font-size: 4em;
  color: rgb(4, 22, 119);
  text-align: center;
  margin: 0.5em auto;
}

.about-text {
  font-size: 1.5em;
}

.about-quote {
  font-size: 1.5em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.55);
}

.center-wrapper {
  text-align: center;
}

.link-button {
  display: inline-block;
  text-decoration: none;
  border-style: solid;
  font-size: 1.25em;
  padding: 0.75em 2em;
  margin: 1.5em;
  color: rgb(4, 22, 119);
  background-color: white; /*placeholder*/
  transition: 0.2s;
}

.link-button:hover {
  background-color: rgb(4, 22, 119);
  border-color: rgb(4, 22, 119);
  color: white;
}

/* Statement styles */
.statement-article h2 {
  margin-top: 1.75em;
}

/* Contact page styles */
.contact-details {
  font-family: "Fugaz One", fantasy;
  font-weight: 900;
  font-size: 3.5em;
  margin: 0.5em auto;
}

.contact-details > p {
  margin: 0 auto;
}

.timetable-title {
  font-family: "Fugaz One", fantasy;
  font-size: 2.5em;
  margin: 1em auto 0;
}

.timetable-list {
  list-style-type: none;
  font-size: 2em;
  font-weight: 600;
  margin: 0 auto 1em;
}

/* 29, 96, 211 rgb(29, 96, 211)*/
