/* body {
  width: 80%;
  margin: auto;
} */

html {
  overflow-y: overlay; /* Fix scrollbar messing with width (incompatible with older browsers)*/
}

main {
  width: 60%;
  margin: auto;
  font-family: "Noto Sans JP", sans-serif;
}

/* Navbar styles */

nav {
  background-color: rgb(4, 22, 119);
  width: 100%;
  height: 5em;
  position: sticky;
  top: 0;
  z-index: 50;
}

@keyframes atTop {
  from {
    background-color: rgb(4, 22, 119);
    height: 5em;
  }
  to {
    background-color: rgb(13, 68, 161);
    height: 4.5em;
  }
}

@keyframes notAtTop {
  from {
    background-color: rgb(13, 68, 161);
    height: 4.5em;
  }
  to {
    background-color: rgb(4, 22, 119);
    height: 5em;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 0 1.5em;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  font-family: "Noto Sans JP", sans-serif;
  height: 100%;
  transition: 0.2s;
}

.navbar-link:hover {
  color: lightgray;
}

/* Home page styles */
.home-video-block {
  position: relative;
  margin-left: -33.33%;
  margin-right: -33.33%;
}

.home-video {
  pointer-events: none;
  z-index: -10;
  width: 100vw;
}

.video-overlay {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 99.5%; /* Slightly bigger than video in some sizes, smaller in others */
}

.text-overlay {
  position: absolute;
  color: white;
  z-index: 20;
  text-align: center;
  top: 20%;
  left: calc(50vw - 40em); /* Offset width of div */
  width: 80em;
}

.text-overlay h1 {
  font-family: "Fugaz One", fantasy;
  font-size: 4em;
  color: lightsteelblue; /*placeholder*/
}

.text-overlay p {
  width: 40rem;
  margin-left: 20rem;
  font-size: 1.25em;
}

.home-button {
  display: inline-block;
  text-decoration: none;
  border-style: none;
  font-size: 1.25em;
  padding: 0.75em 2em;
  margin: 1.5em;
  border-radius: 16px;
  font-size: 1.25em;

  color: white;
  background-color: rgb(4, 22, 119);
  transition: 0.2s;
}

.home-button:hover {
  background-color: rgb(13, 68, 161);
  cursor: pointer;
}

.home-flex-wrapper {
  display: flex;
  margin-left: -33.33%;
  margin-right: -33.33%;
}

.home-left-box {
  display: inline-block;
  position: relative;
  background-color: lightskyblue;
  width: 60%;
  height: 550px;
  top: -50px;
  z-index: 30;
}

.home-left-box-wrapper {
  width: 60%;
  margin: 5em auto auto auto;
  text-align: center;
}

.home-subtitle {
  font-size: 1em;
  color: rgb(65, 65, 65);
  font-weight: 100;
  letter-spacing: 0.2em;
}

.home-text {
  font-size: 1.75em;
  margin: 0;
  letter-spacing: 0.025em;
}

.home-sub-text {
  font-size: 0.9em;
  color: rgb(55, 55, 55);
  font-weight: 100;
}

.home-right-box {
  display: inline-block;
  position: relative;
  background-color: cornflowerblue;
  width: 40%;
  height: 550px;
  top: -10px;
  z-index: 30;
}

.home-right-box-wrapper {
  margin: 2em auto auto auto;
  text-align: center;
  border-width: 0;
}

.home-right-box-wrapper iframe {
  width: 100%;
  height: 400px;
}

.home-timetable-title {
  font-family: "Fugaz One", fantasy;
  font-weight: 900;
  font-size: 3.5em;
  text-align: center;
  margin: 0.1em;
}

.home-timetable-wrapper {
  display: flex;
  text-align: center;
  margin-left: -10%;
  margin-right: -10%;
}

.home-timetable-left {
  width: 50%;
}

.home-timetable-right {
  width: 50%;
}

.home-timetable-day-title {
  font-family: "Fugaz One", fantasy;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  margin: 0.1em;
}

/* About page styles */

.decorative-title {
  font-family: "Fugaz One", fantasy;
  font-size: 4em;
  color: rgb(4, 22, 119);
  text-align: center;
  margin: 0.5em auto;
}

.about-text {
  font-size: 1.5em;
}

.about-quote {
  font-size: 1.5em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.55);
}

.center-wrapper {
  text-align: center;
}

.link-button {
  display: inline-block;
  text-decoration: none;
  border-style: solid;
  font-size: 1.25em;
  padding: 0.75em 2em;
  margin: 1.5em;
  color: rgb(4, 22, 119);
  background-color: white; /*placeholder*/
  transition: 0.2s;
}

.link-button:hover {
  background-color: rgb(4, 22, 119);
  border-color: rgb(4, 22, 119);
  color: white;
}

/* Doctrinal Statement styles */
.statement-article h2 {
  margin-top: 1.75em;
}

/* Contact page styles */
.contact-details {
  font-family: "Fugaz One", fantasy;
  font-weight: 900;
  font-size: 3.5em;
  margin: 0.5em auto;
}

.contact-details > p {
  margin: 0 auto;
}

.timetable-title {
  font-family: "Fugaz One", fantasy;
  font-size: 2.5em;
  margin: 1em auto 0;
}

.timetable-list {
  list-style-type: none;
  font-size: 2em;
  font-weight: 600;
  margin: 0 auto 1em;
}

/* Donate page styles */
.big-quotes::before {
  content: "\201C";
  font-size: 2em;
  line-height: 0%;
  position: relative;
  top: 12px;
  right: 4px;
}

.big-quotes::after {
  content: "\201D";
  font-size: 2em;
  line-height: 0%;
  position: relative;
  top: 12px;
  right: 4px;
}

/* Blog List Styles */
.article-link {
  text-decoration: none;
  color: black;
}

.article-link:hover {
  color: white;
}

.article-list ul a li {
  background-color: rgb(240, 240, 240);
  text-decoration: none;
  list-style-type: none;
  padding: 0.5em 2em;
  margin: 0.5em;
  transition: 0.2s;
}

.article-list ul a li:hover {
  background-color: lightsteelblue;
}

.article-list ul a li h3 {
  font-size: 1.5em;
}

/* Blog Article Styles */
.article-title {
  margin-bottom: 0;
}

.article-details {
  margin-top: 0;
  margin-bottom: 1.5em;
  color: rgba(0, 0, 0, 0.65);
}

/* Add Comment Form Styles */
label {
  display: block;
  margin-top: 0.5em;
}

input {
  display: block;
  font-size: 1.1em;
  font-family: "Noto Sans JP", sans-serif;
}

textarea {
  display: block;
  font-size: 1.1em;
  font-family: "Noto Sans JP", sans-serif;
  resize: none;
}

.button-wrapper {
  display: flex;
  min-height: 4rem; /* Stops button change size when confirmation appears */
}

.submit-button {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5rem 0;
  border-style: none;
  border-radius: 10px;
  font-size: 1.25em;

  color: white;
  background-color: rgb(4, 22, 119); /*placeholder*/
  transition: 0.2s;
}

.submit-button:hover {
  background-color: rgba(13, 68, 161, 0.8);
  cursor: pointer;
}

.error {
  color: red;
  margin: 0;
  padding: 0;
}

.confirm-box {
  display: inline-block;
  background-color: rgb(190, 253, 190);
  color: green;
  margin: 0.5rem;
}

.confirm-box p {
  margin: 0.75em 1.25em;
}

.display-none {
  display: none;
}

/* Comments List Styles */
.comments-list {
  list-style-type: none;
}

.comment-username {
  margin-bottom: 0.25em;
}

.comment-text {
  margin-top: 0.25em;
}

/* Loading Spinner, courtesy of loading.io/css */
.lds-dual-ring {
  display: inline-block;
  vertical-align: bottom;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Submission of content spinner */
.submit-loader {
  margin-left: 8px;
  margin-top: 12px;
}

/* Loading comments spinner */
.comment-loader {
  margin-left: 4em;
}

/* 29, 96, 211 rgb(29, 96, 211)*/
